
#为注释
#*.txt        #忽略所有 .txt结尾的文件,这样的话上传就不会被选中！
#!lib.txt     #但lib.txt除外
#/temp        #仅忽略项目根目录下的TODO文件,不包括其它目录temp
#build/       #忽略build/目录下的所有文件
#doc/*.txt    #会忽略 doc/notes.txt 但不包括 doc/server/arch.txt

build/
cmake-build-debug/
.idea/
Log/
.vscode/

